.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  padding: 4px 10px;
  border-radius: 6px;
}

.page-wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
}
@media (max-width: 767px) {
  .page-wrapper {
    grid-template-columns: 60px 1fr;
  }
}