.sub-heading {
  gap: 6px;
  align-content: start;
  .base {
    font-size: inherit;
    font-weight: inherit;
  }
}

.progress {
  height: 4px;
  border-radius: 8px;
  &__bar {
    height: 100%;
    border-radius: inherit;
  }
  &__label {
    right: -16px;
    bottom: 16px;
    font-size: 12px;
    padding: 3px 6px;
    position: absolute;
    border-radius: 4px;
    color: var(--white);
    &::after {
      content: "";
      left: 50%;
      bottom: -10px;
      border-width: 5px;
      position: absolute;
      border-style: solid;
      border-color: transparent;
      border-top-color: var(--cl);
      transform: translateX(-50%);
    }
  }
}

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
}
.btn {
  display: block;
  font-size: 14px;
  width: fit-content;
  color: var(--white);
  background-color: var(--blue);
  will-change: background-color;
  transition: 0.3s background-color;
  @extend %btn-shape;
  &:hover {
    background-color: var(--blue-alt);
  }
}
.badge {
  font-size: 13px;
  background-color: var(--light-gray);
  @extend %btn-shape;
}

.rect {
  gap: 20px;
  display: grid;
  padding: 20px;
  background-color: var(--white);
  &.p-ms {
    padding: 15px;
  }
  &.p-sm {
    padding: 10px;
  }
  &:not(.no-rad) {
    border-radius: 10px;
  }

  .heading {
    margin-bottom: 10px;
  }
}

.row {
  @extend .between-flex;
  &:not(:last-of-type) {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--light-gray);
  }

  &--gap-sm:not(:last-of-type) {
    padding-bottom: 10px;
  }
  &--gap-md:not(:last-of-type) {
    padding-bottom: 15px;
  }
}

.page-wrapper {
  display: grid;
  min-height: 100vh;
  background-color: #f1f5f9;
  grid-template-columns: 200px 1fr;
}
@media (max-width: 767px) {
  .page-wrapper {
    grid-template-columns: 60px 1fr;
  }
}

.page-title {
  position: relative;
  margin: 20px 20px 40px;
  &::before,
  &::after {
    left: 0;
    content: "";
    height: 3px;
    bottom: -10px;
    position: absolute;
  }
  &::before {
    width: 120px;
    background-color: var(--white);
  }
  &::after {
    width: 40px;
    background-color: black;
  }
}

.page-content-wrapper {
  gap: 20px;
  display: grid;
  margin-inline: 20px;
  margin-bottom: 20px;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  @media (max-width: 767px) {
    gap: 10px;
    margin-inline: 10px;
    grid-template-columns: minmax(200px, 1fr);
  }
}
