$fonts: "Open Sans", sans-serif;

$colors: (
  "white": #fff !important,
  "blue": #0075ff !important,
  "blue-alt": #0d69d5 !important,
  "orange": #f59e0b !important,
  "green": #22c55e !important,
  "red": #f44336 !important,
  "gray": #888 !important,
  "light-gray": #eee !important,
);

$fontSizes: (
  "xs": 13px,
  "sm": 14px,
  "md": 15px,
  "xl": 25px,
);
