$fonts: "Open Sans", sans-serif;

$colors: (
  "white": #fff,
  "blue": #0075ff,
  "blue-alt": #0d69d5,
  "orange": #f59e0b,
  "green": #22c55e,
  "red": #f44336,
  "gray": #888,
  "light-gray": #eee,
);

$fontSizes: (
  "xs": 13px,
  "sm": 14px,
  "md": 15px,
  "xl": 25px,
);
