nav.between-flex.bg-white
  .search.relative
    input(type="search", placeholder="Type a keyword", title="Type a keyword", aria-label="Type a keyword")

  .flex.align-center
    span.notification.relative #[i(class="fa-regular fa-bell fa-lg")]
    img(src="assets/images/user.png", alt="User")

